header {
  margin-top: 40px;
  padding-top: 40px;

  display: flex;
  justify-content: center;
  background-color: lightblue;
  justify-content: space-between;
  width: 80vw;
  height: 35%;

}

body {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

main {
  position: relative;
  background-color: lightblue;
  height: 65%;
  width: 80vw;
  border: 2px dotted black;
}

#score-box {
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: flex-end;
  justify-self: flex-end;
  flex-direction: column;
  height: 150px;
  width: 150px;

}

#messageBox {
  display: flex;
  justify-content: center;
  align-items: center;

}

#number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: space-evenly;
  height: 50px;


}

#score {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

#human-score {
  font-size: 40px;
}

#dash {
  font-size: 60px;
}

#computer-score {
  font-size: 40px;
}

#choice-box {
  display: flex;
  justify-content: space-around;


}

.playersChoiceRock {
  width: 200px;
  height: 200px;
  /* border: black 10px solid; */
  /* background-image: url("images/Rock.png"); */
}

.playersChoiceScissors {
  width: 200px;
  height: 200px;

}

.playersChoicePaper {
  width: 200px;
  height: 200px;
}

#choiceRock:hover {
  transform: scale(1.2);
  transition: 500ms;
}

#choicePaper:hover {
  transform: scale(1.2);
  transition: 500ms;
}

#choiceScissors:hover {
  transform: scale(1.2);
  transition: 500ms;
}